/*Custom Properties*/
:root {
  --aside-width: 14rem;
}
/*>>>>>>>>>>>>>>*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  display: grid;
  grid-template-columns: max-content 1fr;
}

main {
  height: 100vh;
}

canvas {
  margin: auto;
  display: block;
  position: absolute;
  inset: 0;
  max-height: 95%;
  max-width: 95%;
}

#canvas-container {
  position: relative;
  height: calc(100vh - 151px);
}

.cam-switch {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 25%;
  background-color: #d7d7d7;
  border-bottom: 2px gray solid;
  border-right: 2px gray solid;
  z-index: 10;
}

.hidden {
  display: none;
  opacity: 0;
}

.reveal {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease-in-out;
}

/*Side bar*/
aside {
  height: calc(100vh - 1rem);
  width: var(--aside-width);
  padding: 0.5rem 0.8rem;
  background-color: #bad2ff;
  border-right: 1px solid black;
  overflow: auto;
}

p#filter-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 0;
}

input[type="range"] {
  width: calc(var(--aside-width) - 3.6rem);
}

.filter-box {
  padding: 0 5px;
  border: 1px solid gray;
}

.filter-box > * {
  margin: 10px 0;
}

.filter-box  input[type="range"] {
  width: calc(var(--aside-width) - 3.6rem - 10px);
}

.acc-panel {
  background-color: rgba(255,255,255,0.6) !important;
}

.reset-btn {
  color: #8c420c;
  margin: 1rem auto;
  display: block;
}

.settings {
  position: absolute;
  margin: 10px;
  cursor: pointer;
  z-index: 3;
  font-size: 2rem;
  line-height: 0;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #979797;
  display: none;
}

.spin-open {
  animation: spin-forward 1s ease-in-out;
}

.spin-close {
  animation: spin-backward 1s ease-in-out;
}
/*>>>>>>>>>>>>>>*/

/*Bottom Panel*/
video {
  width: 200px;
  z-index: 2;
}

.alert {
  color: red;
  font-style: italic;
}

#banner {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  background: linear-gradient(rgb(226, 231, 255), rgba(226, 231, 255, 0));
  max-height: 150px;
  overflow-y: auto;
}

.btn-base {
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: #b3b3b3;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid;
  filter: brightness(120%);
}

.btn-base:hover {
  filter: brightness(140%);
}

.record-btn {
  color: #165016;
  margin-right: 1rem;
  min-width: 4.5rem;
}

.download-btn {
  color: #1e3b59;
  margin: 0 1rem;
}

.stop-btn {
  color: #8c1616;
  margin-right: 1rem;
  min-width: 4.5rem;
}

.download {
  animation: download 1s linear forwards;
}

/*Animations*/
@keyframes download {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin-forward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-backward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/*>>>>>>>>>>>>>>*/

/*Media Queries*/

@media screen and (max-width: 770px) {
  :root {
    --aside-width: 10rem;
  }

  div#root {
    grid-template-columns: 1fr;
  }

  /*Side bar*/
  aside {
    position: absolute;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  aside label {
    font-size: 12px;
  }

  .settings {
    display: block;
  }
  /*>>>>>>>>>>>>>>*/
  #canvas-container {
    height: calc(100vh - 101px);
  }

  /*Bottom Panel*/
  #banner {
    height: 100px;
  }

  #banner p {
    font-size: 12px;
  }

  video {
    width: 150px;
  }
}